* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    background-color: rgb(167, 195, 248);
    font-family: "Comfortaa", cursive;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 8% 3%;
    text-align: center;
}

button {
    padding: 10px 15px;
    background-color: rgb(142, 177, 241);
    border: 2px dotted midnightblue;
    border-radius: 6px;
    max-width: 180px;
    font-family: "Comfortaa", cursive;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}

button:hover {
    border: 2px solid midnightblue;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

span,
.font {
    color: peru;
    font-weight: bold;
    font-size: larger;
    text-shadow: #d4cdcd 0px 0px 10px;
}

.font {
    font-size: 14px;
}

h1 {
    color: peru;
    text-shadow: #918c8c 0px 0px 20px;
    font-size: 2.7vw;
}
