.hw10 {
    flex-wrap: wrap;
}
.button {
    width: 10px;
    min-width: 60px;
    height: 10px;
    min-height: 60px;
    margin: 1.5vw;
    cursor: pointer;
    background-color: rgba(255, 254, 254, 0.856);
    border-radius: 6px;
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: rgb(19, 114, 101);
    font-size: 1.8vw;
    outline: none;
}

.active {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
