*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: darkblue;
}

img{
    position: absolute;
    bottom: 10%;
    right: 10%;
    height: 50%;
    max-height: 50vw;
}

form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 100px;
    margin-left: 100px;
    align-items: flex-start;
    justify-content: center;
}

#number1, #number2{
    margin-bottom: 30px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #FD7459 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    text-align: center;
}

#even{
    opacity: 0;
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

span{
    position: absolute;
    left: 100px;
    border: 2px solid #FD7459 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

#even:checked ~ span{
    background: #FD7459;
}

.btn{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    background: white ;
    border: 2px solid #FD7459 ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 20px;
    color: #FD7459;
}

.btn:hover{
    color: white;
    background: #FD7459;
    cursor: pointer;
}

p{
    font-size: 22px;
}

.result{
    background: rgba(255, 255, 255, 0.329);
    position: relative;
    z-index: 5;
    margin-left: 100px;
    margin-top:30px;
    font-size: 35px;
    font-style: italic;
    display: flex;
}
.sum{
    margin-left: 10px;
    color: #FD7459;
}